body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}
.child-1 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.container-1 {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    padding-top: 10px;
    border: 0;
    flex-shrink: 1;
}

.child-2 {
    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    flex-shrink: 1;
    gap: 30px;
    margin-top: 20px;
    justify-content: space-between;
}

.child-3{
    flex: 1 0 40%;
    height: auto;
    flex-shrink: 1;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-top: 0px;
}

h4 {
    font-size: 24px;
    color: #f9faf8;
    align-self: flex-start;
}

.top-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.subtext, .top-links {
    color: #E5E7Eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #E5E7Eb;
    outline-style: round;
    border-style: none;
    border-radius: 2px;
    padding: 10px;
    width: 100px;
    height: auto;
    margin: 4px 2px;
}

.placeholder {
    padding: 30px;
    flex: 1 0 40%;
    height: auto;
    margin: 10px;
    background-color: darkgray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.container-2 {
    background-color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 100px;
    padding-top: 20px;

}
.child-4 {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.subheader {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    text-align: center;
    padding: 40px;
}
.squares {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
}

.text {
    width: 200px;
}
.square {
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: #1f2937;
    border: solid 5px #3882f6;
    border-radius: 10px;
}